In [49]:
import pandas as pd
df = pd.read_csv("Downloads/car_prices.csv")
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [50]:
df.shape

(558837, 16)

In [74]:
df.isnull().sum()

year            0
company         0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
price           0
date            0
dtype: int64

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [53]:
df = df.copy()
df.dropna(axis=0, inplace=True)
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,fl,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300.0,22800.0,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 472325 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          472325 non-null  int64
 1   make          472325 non-null  object
 2   model         472325 non-null  object
 3   trim          472325 non-null  object
 4   body          472325 non-null  object
 5   transmission  472325 non-null  object
 6   vin           472325 non-null  object
 7   state         472325 non-null  object
 8   condition     472325 non-null  float64
 9   odometer      472325 non-null  float64
 10  color         472325 non-null  object
 11  interior      472325 non-null  object
 12  seller        472325 non-null  object
 13  mmr           472325 non-null  float64
 14  sellingprice  472325 non-null  float64
 15  saledate      472325 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 61.3+ MB

In [55]:
df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 472325 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          472325 non-null  int64
 1   make          472325 non-null  object
 2   model         472325 non-null  object
 3   trim          472325 non-null  object
 4   body          472325 non-null  object
 5   transmission  472325 non-null  object
 6   vin           472325 non-null  object
 7   state         472325 non-null  object
 8   condition     472325 non-null  float64
 9   odometer      472325 non-null  float64
 10  color         472325 non-null  object
 11  interior      472325 non-null  object
 12  seller        472325 non-null  object
 13  mmr           472325 non-null  float64
 14  sellingprice  472325 non-null  float64
 15  saledate      472325 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 61.3+ MB

In [56]:
df.state.unique()

array(['ca', 'tx', 'mn', 'az', 'wi', 'tn', 'md', 'pa', 'fl', 'ne', 'oh',
       'mi', 'nj', 'va', 'sc', 'in', 'il', 'co', 'ut', 'mo', 'ga', 'nv',
       'ma', 'pr', 'nc', 'ny', 'or', 'la', 'wa', 'hi', 'ok', 'ms', 'nm',
       'al'], dtype=object)

In [57]:
state_abb = {
    'ca': 'California',
    'tx': 'Texas',
    'mn': 'Minnesota',
    'az': 'Arizona',
    'wi': 'Wisconsin',
    'tn': 'Tennessee',
    'md': 'Maryland',
    'pa': 'Pennsylvania',
    'fl': 'Florida',
    'ne': 'Nebraska',
    'oh': 'Ohio',
    'mi': 'Michigan',
    'nj': 'New Jersey',
    'va': 'Virginia',
    'sc': 'South Carolina',
    'in': 'Indiana',
    'il': 'Illinois',
    'co': 'Colorado',
    'ut': 'Utah',
    'mo': 'Missouri',
    'ga': 'Georgia',
    'nv': 'Nevada',
    'ma': 'Massachusetts',
    'pr': 'Puerto Rico',
    'nc': 'North Carolina',
    'ny': 'New York',
    'or': 'Oregon',
    'la': 'Louisiana',
    'wa': 'Washington',
    'hi': 'Hawaii',
    'ok': 'Oklahoma',
    'ms': 'Mississippi',
    'nm': 'New Mexico',
    'al': 'Alabama'
}

In [58]:
df['state'] = df['state'].replace(state_abb)

In [59]:
df.state.unique()

array(['California', 'Texas', 'Minnesota', 'Arizona', 'Wisconsin',
       'Tennessee', 'Maryland', 'Pennsylvania', 'Florida', 'Nebraska',
       'Ohio', 'Michigan', 'New Jersey', 'Virginia', 'South Carolina',
       'Indiana', 'Illinois', 'Colorado', 'Utah', 'Missouri', 'Georgia',
       'Nevada', 'Massachusetts', 'Puerto Rico', 'North Carolina',
       'New York', 'Oregon', 'Louisiana', 'Washington', 'Hawaii',
       'Oklahoma', 'Mississippi', 'New Mexico', 'Alabama'], dtype=object)

In [60]:
df.rename(columns={
    'sellingprice':'price',
    'saledate':'date',
    'make':'company'
}, inplace=True)
df

,year,company,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,price,date
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,California,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,California,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,California,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,California,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,California,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,Florida,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300.0,22800.0,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,Washington,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,California,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,Georgia,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,California,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [61]:
df.date.dtype

dtype('O')

In [64]:
df['date'] = pd.to_datetime(df['date'], errors='coerce', utc=True)

In [65]:
df.date.dtype

datetime64[ns, UTC]

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 472325 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          472325 non-null  int64
 1   company       472325 non-null  object
 2   model         472325 non-null  object
 3   trim          472325 non-null  object
 4   body          472325 non-null  object
 5   transmission  472325 non-null  object
 6   vin           472325 non-null  object
 7   state         472325 non-null  object
 8   condition     472325 non-null  float64
 9   odometer      472325 non-null  float64
 10  color         472325 non-null  object
 11  interior      472325 non-null  object
 12  seller        472325 non-null  object
 13  mmr           472325 non-null  float64
 14  price         472325 non-null  float64
 15  date          472325 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(4), int64(1), object(10)
memory usage: 61.3+ MB

In [67]:
df['date'] = df['date'].dt.strftime('%d/%m/%Y')
df

,year,company,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,price,date
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,California,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,16/12/2014
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,California,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,16/12/2014
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,California,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,14/01/2015
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,California,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,28/01/2015
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,California,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,18/12/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,Florida,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300.0,22800.0,06/07/2015
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,Washington,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,08/07/2015
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,California,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,08/07/2015
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,Georgia,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,08/07/2015
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,California,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,27/05/2015

In [68]:
df.price = df.price.astype(int)
df.price.dtype

dtype('int64')

In [69]:
df.mmr = df.mmr.astype(int)
df.mmr.dtype

dtype('int64')

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 472325 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          472325 non-null  int64
 1   company       472325 non-null  object
 2   model         472325 non-null  object
 3   trim          472325 non-null  object
 4   body          472325 non-null  object
 5   transmission  472325 non-null  object
 6   vin           472325 non-null  object
 7   state         472325 non-null  object
 8   condition     472325 non-null  float64
 9   odometer      472325 non-null  float64
 10  color         472325 non-null  object
 11  interior      472325 non-null  object
 12  seller        472325 non-null  object
 13  mmr           472325 non-null  int64
 14  price         472325 non-null  int64
 15  date          472325 non-null  object
dtypes: float64(2), int64(3), object(11)
memory usage: 61.3+ MB

In [71]:
df

,year,company,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,price,date
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,California,5.0,16639.0,white,black,kia motors america inc,20500,21500,16/12/2014
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,California,5.0,9393.0,white,beige,kia motors america inc,20800,21500,16/12/2014
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,California,45.0,1331.0,gray,black,financial services remarketing (lease),31900,30000,14/01/2015
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,California,41.0,14282.0,white,black,volvo na rep/world omni,27500,27750,28/01/2015
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,California,43.0,2641.0,gray,black,financial services remarketing (lease),66000,67000,18/12/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,Florida,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300,22800,06/07/2015
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,Washington,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,08/07/2015
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,California,48.0,50561.0,black,black,financial services remarketing (lease),29800,34000,08/07/2015
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,Georgia,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,08/07/2015
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,California,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600,26700,27/05/2015

In [73]:
df.to_csv("vehicles_sales_cleaned_data.csv",index=False)